
*.pyc

*/.ipynb_checkpoints/

docs/source/.ipynb_checkpoints/

documentation/build/

documentation/source/.ipynb_checkpoints/

documentation/source/_autosummary/

documentation/source/api/

*.DS_Store

documentation/source/release_notes.md
